<h1 id="tableLabel">Contest</h1>



<p *ngIf="!contests?.length"><em>Loading...</em></p>


<h2>My Entries</h2>
<ul class="heroes">
  <li *ngFor="let entry of contests[0].entries">
    <button [class.selected]="entry === selectedEntry" type="button" (click)="onSelect(entry)">
      <span class="badge">{{entry.entryid}}</span>
      <span class="name">{{entry.name}}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedEntry">
  <h2>{{selectedEntry.name | uppercase}} Details</h2>
  <div>id: {{selectedEntry.entryid}}</div>
  <div>
    <label for="entry-name">Entry name: </label>
    <input id="entry-name" [(ngModel)]="selectedEntry.name" placeholder="name">
  </div>
</div>





<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Name</th>
      <th>time remaining</th>
      <th>rank</th>
      <th>points</th>
      <th>adjusted ranking</th>
      <th>players</th>
    </tr>
  </thead>
  <tbody>





    <tr *ngFor="let entry of contests[0].entries">
      <td>{{ entry.name }}</td>
      <td>{{ entry.timeRemaining }}</td>
      <td>{{ entry.rank }}</td>
      <td>{{ entry.points }}</td>
      <td></td>
      <td>
        <div>

          <table class='table table-striped' aria-labelledby="tableLabel">
            <thead>
              <tr>
                <th>Name</th>
                <th>Salary</th>
                <th>Projection</th>
                <th>Points</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entryMember of entry.entryMembers">
                <td> {{entryMember.entryMemberPlayerName}}</td>
                <td> {{entryMember.player.salary}}</td>
                <td>{{entryMember.player.bmprojection}}</td>
                <td>
                  <span [style]="(entryMember.player.fpts ?? 0) > entryMember.player.bmprojection ? {color: 'green'}: {color: 'red'}" class="badge badge-success rounded-pill d-inline">
                    {{ entryMember.player.fpts  }}
                  </span>
                </td>

                <td>
                  <span [style]="(entryMember.player.fpts ?? 0) > entryMember.player.bmprojection ? {color: 'green'}: {color: 'red'}" class="badge badge-success rounded-pill d-inline">
                    {{ (entryMember.player.fpts - entryMember.player.bmprojection) | number: '1.0-0' }}
                  </span>
                </td>

              </tr>
            </tbody>
          </table>


        </div>

             



       
      </td>
    </tr>
  </tbody>
</table>
